<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Webcam</title>
</head>
<body>
    <h1>Vista de la Cámara</h1>
    
    <!-- Elemento de video para mostrar el stream -->
    <video id="videoElement" width="100%" autoplay></video>

    <script>
        // Obtiene la cámara del usuario
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                // Asocia el flujo de video con el elemento de video en la página
                var video = document.getElementById('videoElement');
                video.srcObject = stream;
            })
            .catch(function(error) {
                console.log("Error al acceder a la cámara: ", error);
            });
    </script>
</body>
</html>
